
@font-face {
    font-family:'TTHOVE';
    src: url(../font/TTHoves-Medium.woff) format('woff') ;
    font-weight: 400;
}
@font-face {
    font-family:'TTHOVE';
    src: url(../font/TTHoves-DemiBold.woff) format('woff') ;
    font-weight: 700;
}
@font-face {
    font-family:'NANUM';
    src: url(../font/NanumSquareOTFRegular.woff) format('woff') ;
    font-weight: 400;
}
@font-face {
    font-family:'NANUM';
    src: url(../font/NanumSquareOTFBold.woff) format('woff') ;
    font-weight: 700;
}