.container{}


.sc-visual{}
.sc-visual .img-area{position: relative;
}
.sc-visual .img-area video{
   width: 100%;
}
.sc-visual .img-area h3{
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; 
    font-size: 100px;
    z-index: 100;
    padding: 20px 0;
}









.sc-search{position: relative;}
.sc-search .group-search{
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: 54px;
    margin: 0 auto;    
   background: #fff;
   z-index: 100;
}
.sc-search fieldset{ border: 1px solid #fff; } 
.sc-search .search-bd .submit{ 
    position: absolute;
    top: 0;right: 0;
    background-color: #000;
    color: #fff;
    width: 97px;
    height: 54px;
    line-height: 54px;
    
} 
.sc-search .search-bd .enter:hover{
    background-color: #16ef72;
    color: #000;
} 
.sc-search .search-bd a{ display: flex; position: relative; ;height: 56px; align-items: center; }
.sc-search .search-box{width: 277px; padding-right: 20px;
} 
.sc-search .search-box input{ border: 1px solid #fff; height: 50px;}
.sc-search .icon-box{ align-items: center; padding: 0 28px 0 21px; }
.sc-search .icon-box::after{ content: ''; width: 18px;height: 18px; display: block; background-position: -245px -40px; width: 18px; height: 18px; }
.sc-search .select-box{position: relative; ;width: 319px;}
.sc-search .select-box .select::after{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: block;
    width: 16px;height: 10px;
    content: '';
    background-image: url(https://recruit.navercorp.com/share/tmplat/naver/img/recruit/ico_arrow_up.png);
   
}
.sc-search .select-box .select{color: #ccc;;width: 319px;}
.sc-search .select-box .select.hide{display: none;}

/* select */
.group-company{
    position: absolute;
    top: 703px;
    left: 50%;
    z-index: 10;
}
.group-company .on{
    display: block;
}
.group-company .inner{
   
}
.group-division{
    position: absolute;
    top: 703px;
    left: 56%;
    z-index: 10;
}







/* practice */

.sc-teams{
    background-color: #fafafa; 
    padding-bottom: 90px;}
 .sc-teams .inner{
    padding: 95px 0px ;}
.sc-teams h2{
    font-size: 64px;
    line-height: 71px;
    letter-spacing: -0.64px;
    margin-bottom: 20px;
    font-weight: bold;
}
.sc-teams .group-title{ 
      position: relative; /* padding: 95px 104px ;   */
    width: 1200px;
     margin: 0 auto;} 
.sc-teams .group-title .desc{ font-size: 22px;font-weight: bold; }
.sc-teams .group-title .link-more{ position: absolute; bottom: 22%;
    right: 55%; font-size: 14px; text-decoration-line: underline; }

.sc-teams .group-content{margin-top: 70px;}
.sc-teams .group-content ul{}
.sc-teams .group-content ul li:hover{ background-color: #ebebeb;}
.sc-teams .group-content ul li{ }
.sc-teams .group-content ul li a{display: flex;}
.sc-teams .group-content li a{ height: 70px; }
.sc-teams .group-content li a .text-area{ display: flex; width: 1200px; margin: 0 auto; align-items: center; }
.sc-teams .group-content a{display: flex;}
.sc-teams .group-content span{display: block}
.sc-teams .group-content .title{width: 590px;display: block; padding: 20px 0;font-size: 38px; line-height: 60px;}
.sc-teams .group-content .desc{width: 590px;display: block; padding: 20px 0; font-size: 22px; line-height: 60px;}


/* sc-content */
.sc-content{
    padding: 95px 0 68px;
}
.sc-content .inner{
   }
.sc-content h2{
    font-size: 64px;
    line-height: 71px;
    letter-spacing: -0.64px;
    margin-bottom: 20px;
}
.sc-content .desc{font-size: 22px;}
.sc-content .swiper-wrapper{
    position: relative;
    margin-top: 20px;
    width: 1200px;
    margin: 0px auto;
    letter-spacing: -0.64px;
    font-weight: bold;

}
.sc-content .box-inner{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.btn-box{
    position: absolute;
    top: 0;right: 0;
}
.sc-content .prev::before{
    position: absolute;
    bottom: 0;right: 50px;
    display: block;
    content: '';
    background-position: -224px -172px;
    width: 33px;
    height: 32px;
}
.sc-content .next::before{
    position: absolute;
    bottom: 0;right: 0;
    content: '';
    background-position: -113px -172px;
    height: 32px;
    width: 33px;
}
/* .sc-content .pagination{
    swiper에 position:relati
    ve 들어가있음
    display: flex;
    position: absolute;
    width: 260px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 37px;
    z-index: 1;
}
.sc-content .pagination .swiper-pagination-bullet{
    flex: 1;
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius:0;
    background: #f00;
} */
.sc-content .swiper-slide{margin-top: 60px;}

.sc-content .group-title{
    position: relative;
    width: 1200px;
    margin: 0px auto;
    letter-spacing: -0.64px;
    
    
}
.sc-content .group-title .desc{font-weight: bold;}
.sc-content .link-more{
    position: absolute; 
    bottom: 8%;
    right: 43%;
    font-size: 14px; 
    text-decoration-line: underline;
}
.sc-content img{
    height: 520px;
    object-fit: cover;
}
.sc-content .text-box{}
.sc-content .text-box .title{
    margin: 29px 0 16px;
    font-size: 25px;
    font-weight: bold;}
    
.sc-content .text-box .etc{
    font-size: 14px;
    line-height: 24px;
}
.sc-content .text-box .division{}
.sc-content .text-box .name{position: relative; margin-left: 12px;}
.sc-content .text-box .name::before{
    position: absolute;
    top: 4px;right: 42px;
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background: #000;
    
}



.sc-content.benefits{}
.sc-content.benefits .inner{
    position: relative;
    width: 1200px;margin: 0 auto;}
.sc-content.benefits .group-title{
    position: relative;
}
.sc-content.benefits .group-title .link-more{
    position: absolute;
    right: 63%;
}
.sc-content.benefits img{width: 380px; height: 380px;}
.sc-content.benefits .text-box .desc{
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.36px;
    color: #000;
}
.sc-content.benefits .btn-box{
    position: absolute;
    bottom: 0;right: 0;
    background: #ff0;
    width: 100px;height: 100px;
}


.sc-support{
    padding: 95px 0 102px;
}
.sc-support h2{
    font-size: 25px;
}
.sc-support .link-support{
    position: relative;
    margin-top: 18px;
    display: block;
}
.sc-support .link-support::after{
    position: absolute;
    top: -7px; left: 65px;
    display: block;
    width: 33px;height: 32px;
    content: '';
    background-position: -76px -172px;
}
/*  */

/* .sc-teams{
    padding-bottom: 89px;
    background-color: #ccc;
    height: 800px;
    color: #000;
    font-weight: bold;
}
}
.sc-teams .group-teams{
    
    width: 1200px;
    height: 123px;
    margin: 20px auto;
    line-height: 71px;
    letter-spacing: -0.64px;
    font-weight: bold;
    padding: 126px 104px 0;
}
.sc-teams .group-teams .text-box,
.sc-practice .text-area{
    position: relative;
}
.sc-teams .group-teams .link-more
{
    position: absolute;
    bottom: 0;right: 55%;
    font-size: 14px;
    text-decoration-line: underline;
}
.sc-teams .desc{}
.sc-teams .link-more{}
.sc-teams .group-inner{display: flex;}
.sc-teams .group-inner ul{}
.sc-teams .group-inner li:hover{
    background: #fff;
    display: block;
}
.sc-teams .group-inner ul li{}
.sc-teams .group-inner li a{display: flex;}
.sc-teams .group-inner li span{display: block}
.sc-teams .group-inner li .title{width: 590px;display: block;}
.sc-teams .group-inner li .desc{width: 590px;display: block;} */


